<div class="container"> 
    <h5>Sobre Comics</h5>
    <hr>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quae reiciendis ab eius, nisi, explicabo in sed expedita culpa et adipisci dolorum, maxime enim rem placeat consequatur esse labore ducimus?
    Officiis eius quae voluptates odit nihil illo quis tempora facilis facere, amet exercitationem nisi quaerat provident non fuga molestias quibusdam laudantium aspernatur quam. Illo dolores nulla enim veniam adipisci quibusdam!
    Dolores assumenda minus repudiandae, atque voluptatibus placeat sint nesciunt necessitatibus eos fugiat perferendis ratione. Optio similique vel laborum in explicabo dolor nesciunt! Est ea odit quos dolore voluptate. Quia, ullam.</div>
</div>
